<!-- Vidjet Script - Start -->
<script> (function (d, s, id) { if (d.getElementById(id)) return; var t = d.getElementsByTagName(s)[0]; var vis = d.createElement(s); vis.id = id; vis.src = 'https://app-api.vidjet.io/generator.js?siteId=cb54fe57-df3d-4bb7-969d-225dd5a90f50'; t.parentNode.insertBefore(vis, t); })(document, 'script', 'vidjet'); </script>
<!-- Vidjet Script - End -->

{{indiaMart}}
<a href="{{indiaMart}}" download>IndiaMart</a>


<form method="get" action="{{indiaMart}}">
    <button type="submit">Download!</button>
</form>


<form method="get" action="C:\Users\ANISH JAIN\Documents\web_apps\auto\software\bank-names.txt">
    <button type="submit">Download!</button>
</form>

<a href="C:\Users\ANISH JAIN\Downloads\hhh.png" download>
    <img src="C:/Users/ANISH JAIN/Downloads/hhh.png">

</a>


<img src="C:\Users\ANISH JAIN\Pictures\Camera Roll\dddd.jpg">


<a href="http://www.google.com/.../logo2w.png" download="MyGoogleLogo">download me</a>

<a href="http://www.google.com/.../logo2w.png" download="MyGoogleLogo">download me</a>