<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/main.css'%}" />

<!--    SOFTWARE -->
<div class="container jumbotron">
    <!-- <form id='plan_form' method="post" class="form-group">
        {% csrf_token %}
        {{ plan_form.as_p }}
        <a href="{% url 'plan_detail' %}">Detail of plan's</a>
    </form> -->
    <!-- download href="{{software_url}}" -->
    <a download="" download id="download" style="text-transform: uppercase;" class="btn btn-primary "
        onclick="fun('{{software_name}}')" href="{{software_url}}">Download
        {{software_name}}</a>
    <input type="hidden" value="{{software_url}}" id="hidden_software_url">


    <a download herf="http://127.0.0.1:8000/media/software/melyna-valle-C1m_GpO0XG0-unsplash.jpg">hi</a>

    <a download href="C:\Users\ANISH JAIN\Documents\BulkSenders\num.csv"><img style="width: 100px; height:100px;"
            src="http://127.0.0.1:8000/media/software/melyna-valle-C1m_GpO0XG0-unsplash.jpg"></a>

</div>

<!-- END SOFTWARE -->


{% endblock %}

{% block javascript%}

<!-- <script src="{% static 'js/software.js' %}"></script> -->
{% endblock %}