{% include "base.html" %}

{% block content %}
<div class="container">
    <h4>Dashboard</h4>
    <h2><a href="{% url 'signup' %}">Create Token</a></h2>
    <p>Token Left:{{request.user.reseller.token_count}}</a>
    <p>Token Sell:{{request.user.reseller.sold_token}}</a>
        <hr>
    <p><a id="toCsv" class="btn btn-warning">Export to CSV</a></p>


    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-users-tab" data-toggle="pill" href="#pills-users" role="tab"
                aria-controls="pills-users" aria-selected="true">Users</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-telegram-tab" data-toggle="pill" href="#pills-telegram" role="tab"
                aria-controls="pills-telegram" aria-selected="false">Telegram</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-whatsapp-tab" data-toggle="pill" href="#pills-whatsapp" role="tab"
                aria-controls="pills-whatsapp" aria-selected="false">Whatsapp</a>
        </li>
        <li class="nav-item" role='presentation'>
            <a class="nav-link" id="pills-instagram-tab" data-toggle="pill" href="#pills-instagram" role="tab"
                aria-controls="pills-instagram" aria-selected="false">Instagram</a>

        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab">

            {% include "dashboard_table.html" %}
            <tbody class="text-center">
                {% for pro in profile %}
                <tr>
                    <td>{{pro.token}}</td>
                    <td>{{pro.user.username}}</td>
                    <td>{{pro.unhash_password}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{pro.phoneNo}}</td>

                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="pills-telegram" role="tabpanel" aria-labelledby="pills-telegram-tab">
            {% include "dashboard_table.html" %}
            <tbody class="text-center">
                {% for var in telegrams %}
                <tr>
                    <td></td>
                    <td><a href="{% url 'update' var.id 'telegram' %}">{{var.profile.user.username}}</a></td>
                    <td></td>


                    <td>{{var.DemoDate}}</td>
                    <td>{{var.isPaid}}</td>
                    <td>{{var.licenceExpireDate}}</td>
                    <td></td>
                    <td>{{var.isActive}}</td>
                    <td>{{var.date_updated}}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="pills-whatsapp" role="tabpanel" aria-labelledby="pills-whatsapp-tab">
            {% if whatsapps %}
            {% include "dashboard_table.html" %}
            <tbody class="text-center">
                {% for var in whatsapps %}
                <tr>
                    <td></td>
                    <td><a href="{% url 'update' var.id 'whatsapp' %}">{{var.profile.user.username}}</a></td>
                    <td></td>
                    <td>{{var.DemoDate}}</td>
                    <td>{{var.isPaid}}</td>
                    <td>{{var.licenceExpireDate}}</td>
                    <td></td>
                    <td>{{var.isActive}}</td>
                    <td>{{var.date_updated}}</td>
                </tr>
                {% endfor %}

            </tbody>
            </table>
            {% else %}
            "Whatsapp stuff"
            {% endif %}

        </div>
        <div class="tab-pane fade" id="pills-instagram" role="tabpanel" aria-labelledby="pills-instagram-tab">

            {% if instagrams %}
            {% include "dashboard_table.html" %}
            <tbody class="text-center">
                {% for var in instagrams %}
                <tr>
                    <td></td>
                    <td><a href="{% url 'update' var.id 'instagram' %}">{{var.profile.user.username}}</a></td>
                    <td></td>
                    <td>{{var.DemoDate}}</td>
                    <td>{{var.isPaid}}</td>
                    <td>{{var.licenceExpireDate}}</td>
                    <td></td>
                    <td>{{var.isActive}}</td>
                    <td>{{var.date_updated}}</td>
                </tr>
                {% endfor %}

            </tbody>
            </table>
            {% else %}
            "Instagram stuff"
            {% endif %}

        </div>

    </div>
</div>


<script>
    //var user = "{{request.user}}"
    var csvUrl = "/exportToCSV/profile"
    var base_url = "/exportToCSV/";
    var api = 'profile';
    var user_tab = document.getElementById('pills-users-tab')
    var telegram_tab = document.getElementById('pills-telegram-tab')
    var whatsapp_tab = document.getElementById('pills-whatsapp-tab')
    var instagram_tab = document.getElementById('pills-instagram-tab')
    var toCsv = document.getElementById('toCsv')
    var csvForm = document.getElementById('csvForm')

    user_tab.addEventListener('click', function () {
        //alert('user')
        api = 'profile'
        var url = base_url + api
        //toCsv.setAttribute('href', url)
    })

    telegram_tab.addEventListener('click', function () {
        //alert('telegram')
        api = 'telegram'
        var url = base_url + api
        //toCsv.setAttribute('href', url)
    })

    whatsapp_tab.addEventListener('click', function () {
        //alert('whatsapp')
        api = 'whatsapp'
        var url = base_url + api
        //toCsv.setAttribute('href', url)
    })

    instagram_tab.addEventListener('click', function () {
        //alert('instagram')
        api = 'instagram'
        var url = base_url + api
        //toCsv.setAttribute('href', url)
    })

    toCsv.addEventListener('click', function () {

        console.log(api)
        var url = base_url + api
        console.log(url)
        toCsv.setAttribute('href', url)
        //toCsv.click()
        //fetch(url, {
        //  method: "GET"
        //})

        //location.reload();
    })




</script>

{% endblock content %}