{% include "base.html" %}
{% load static %}
{% block content %}
<div class="container">

    <h4>Dashboard</h4>
    <h2><a href="{% url 'signup' %}">Create Token</a></h2>
    <p>Token Left:{{request.user.reseller.token_count}}</a>
    <p>Token Sell:{{request.user.reseller.sold_token}}</a>
        <hr>
    <p><a id="toCsv" class="btn btn-warning">Export to CSV</a></p>
    <p>
    <div class="jumbotron">
        <p>Filters</p>
        <form id="filterForm" method='get'>
            <p>
                <input value="isPaid" id="isPaid" name="Paid" type="radio">isPaid</>
                <input value="isNotPaid" id="isNotPaid" name="Paid" type="radio">isNotPaid
            </p>

            <p><input value="isActive" name="Active" type="radio">isActive
                <input value="isNotActive" name="Active" type="radio">isNotActive
            </p>

            <input name="lessThenMonth" type="checkbox">Less then the Month for account Expire
            <input name="todayDemo" type="checkbox">Today Demo
            {% if request.user.is_staff %}
            {{reseller_form.as_p}}
            {% endif %}
            <button id="filterBtn" class='btn btn-danger' type="submit">Submit</button>
        </form>
    </div>
    </p>


    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-users-tab" data-toggle="pill" href="#pills-users" role="tab"
                aria-controls="pills-users" aria-selected="true">Users</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-telegram-tab" data-toggle="pill" href="#pills-telegram" role="tab"
                aria-controls="pills-telegram" aria-selected="false">Telegram</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-whatsapp-tab" data-toggle="pill" href="#pills-whatsapp" role="tab"
                aria-controls="pills-whatsapp" aria-selected="false">Whatsapp</a>
        </li>
        <li class="nav-item" role='presentation'>
            <a class="nav-link" id="pills-instagram-tab" data-toggle="pill" href="#pills-instagram" role="tab"
                aria-controls="pills-instagram" aria-selected="false">Instagram</a>

        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab">

            <!-- {% include "dashboard_table.html" %} -->
            <table id="tableData-profile" class="table">
                <thead class="text-center">
                    <tr>
                        <th>Token</th>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>demoDate</th>
                        <th>isPaid</th>
                        <th>Licence Expire Date</th>
                        <th>Phone No</th>
                        <th>isActive</th>
                        <th>date_updated</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for pro in profile %}
                    <tr>
                        <td>{{pro.token}}</td>
                        <td>{{pro.user.username}}</td>
                        <td>{{pro.unhash_password}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{pro.phoneNo}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="pills-telegram" role="tabpanel" aria-labelledby="pills-telegram-tab">
            <!-- {% include "dashboard_table.html" %} -->
            <table id="tableData-telegram" class="table">
                <thead class="text-center">
                    <tr>
                        <th>Token</th>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>demoDate</th>
                        <th>isPaid</th>
                        <th>Licence Expire Date</th>
                        <th>Phone No</th>
                        <th>isActive</th>
                        <th>date_updated</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for var in telegrams %}
                    <tr>
                        <td>{{var.profile.token}}</td>
                        <td><a href="{% url 'update' var.id 'telegram' %}">{{var.profile.user.username}}</a></td>
                        <td>{{var.profile.unhash_password}}</td>
                        <td>{{var.DemoDate}}</td>
                        <td>{{var.isPaid}}</td>
                        <td>{{var.licenceExpireDate}}</td>
                        <td>{{var.profile.phoneNo}}</td>
                        <td>{{var.isActive}}</td>
                        <td>{{var.date_updated}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="pills-whatsapp" role="tabpanel" aria-labelledby="pills-whatsapp-tab">
            {% if whatsapps %}
            <!-- {% include "dashboard_table.html" %} -->
            <table id="tableData-whatsapp" class="table">
                <thead class="text-center">
                    <tr>
                        <th>Token</th>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>demoDate</th>
                        <th>isPaid</th>
                        <th>Licence Expire Date</th>
                        <th>Phone No</th>
                        <th>isActive</th>
                        <th>date_updated</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for var in whatsapps %}
                    <tr>
                        <td>{{var.profile.token}}</td>
                        <td><a href="{% url 'update' var.id 'whatsapp' %}">{{var.profile.user.username}}</a></td>
                        <td>{{var.profile.unhash_password}}</td>
                        <td>{{var.DemoDate}}</td>
                        <td>{{var.isPaid}}</td>
                        <td>{{var.licenceExpireDate}}</td>
                        <td>{{var.profile.phoneNo}}</td>
                        <td>{{var.isActive}}</td>
                        <td>{{var.date_updated}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
            "Whatsapp stuff"
            {% endif %}

        </div>
        <div class="tab-pane fade" id="pills-instagram" role="tabpanel" aria-labelledby="pills-instagram-tab">

            {% if instagrams %}
            <!-- {% include "dashboard_table.html" %} -->
            <table id="tableData-instagram" class="table">
                <thead class="text-center">
                    <tr>
                        <th>Token</th>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>demoDate</th>
                        <th>isPaid</th>
                        <th>Licence Expire Date</th>
                        <th>Phone No</th>
                        <th>isActive</th>
                        <th>date_updated</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for var in instagrams %}
                    <tr>
                        <td>{{var.profile.token}}</td>
                        <td><a href="{% url 'update' var.id 'instagram' %}">{{var.profile.user.username}}</a></td>
                        <td>{{var.profile.unhash_password}}</td>
                        <td>{{var.DemoDate}}</td>
                        <td>{{var.isPaid}}</td>
                        <td>{{var.licenceExpireDate}}</td>
                        <td>{{var.profile.phoneNo}}</td>
                        <td>{{var.isActive}}</td>
                        <td>{{var.date_updated}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
            "Instagram stuff"
            {% endif %}

        </div>

    </div>
</div>



{% endblock content %}

<!-- Read Content of table -->
{% block javascript %}
<script src="{% static 'js/table_to_cookie.js' %}"></script>
{% endblock javascript %}


<script>
    var staff = "False"
</script>


{% if request.user.is_staff %}
<script>
    document.getElementById('id_reseller').removeAttribute('required')
    var staff = "{{request.user.is_staff}}"
    console.log(staff)
</script>
{% endif %}



<script>

    //var user = "{{request.user}}"
    var csvUrl = "/exportToCSV/profile"
    var base_url = "/exportToCSV/";
    var api = 'profile';
    var user_tab = document.getElementById('pills-users-tab')
    var telegram_tab = document.getElementById('pills-telegram-tab')
    var whatsapp_tab = document.getElementById('pills-whatsapp-tab')
    var instagram_tab = document.getElementById('pills-instagram-tab')
    var toCsv = document.getElementById('toCsv')
    var csvForm = document.getElementById('csvForm')

    var filter_base_url = '/filterDashboard/'
    var filterForm = document.getElementById('filterForm')
    var filterBtn = document.getElementById('filterBtn')



    user_tab.addEventListener('click', function () {
        //alert('user')
        api = 'profile'
        var url = base_url + api
        saveTableDataToCookie(api)
        //toCsv.setAttribute('href', url)
    })

    telegram_tab.addEventListener('click', function () {
        //alert('telegram')
        api = 'telegram'
        var url = base_url + api

        saveTableDataToCookie(api)
        //toCsv.setAttribute('href', url)
    })

    whatsapp_tab.addEventListener('click', function () {
        //alert('whatsapp')
        api = 'whatsapp'
        var url = base_url + api
        saveTableDataToCookie(api)
        //toCsv.setAttribute('href', url)
    })

    instagram_tab.addEventListener('click', function () {
        //alert('instagram')
        api = 'instagram'
        var url = base_url + api
        saveTableDataToCookie(api)
        //toCsv.setAttribute('href', url)
    })

    toCsv.addEventListener('click', function () {

        saveTableDataToCookie(api)
        console.log(api)
        var url = base_url + api
        console.log(url)
        toCsv.setAttribute('href', url)
        //toCsv.click()
        //fetch(url, {
        //  method: "GET"
        //})

        //location.reload();
    })

    //On Filter Form Submit Button add eventListener
    console.log(api, staff)
    filterBtn.addEventListener('click', function () {
        url = filter_base_url + api
        if (api == 'profile') {
            console.log('Please don\'t submit for reseller')
            //filterForm.setAttribute('action', url)

        }

        else {
            filterForm.setAttribute('action', url)
        }

        if (api == 'profile' && staff == 'True') {
            console.log('Please submit form for admim')
            filterForm.setAttribute('action', url)

        }

    })

</script>