<br>
<footer>
    <section class="footer-section pad-t70 pad-b50 bg-gray-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 mb-md-20">
                    <div class="section-title-2">
                        <h3>Address</h3>
                    </div>
                    <div class="footer-address">
                        <p><span>C-HEAD</span> is a best theme for your business.create your own unique site with C-HEAD
                            theme.It is easy to implement in your website.</p> <a href="javascript:void(0);"
                            class="green">read more...</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-md-20">
                    <div class="section-title-2">
                        <h3>How to reach us!</h3>
                    </div>
                    <div class="footer-address">
                        <p><span class="icon-map mr-10"></span>
                            <label>Address:</label> Metsarentsi,Yerevan-374
                        </p>
                        <p><span class="icon-envelope mr-10"></span>
                            <label>Email:</label> email@example.com
                        </p>
                        <p><span class=" icon-mobile mr-10"></span>
                            <label>Phone:</label> +123 456 7890
                        </p>
                    </div>
                    <!-- <div class="footer-social">
                        <ul class="top-social">
                            <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div> -->
                </div>
                <div class="col-md-3 col-sm-6 mb-md-20">
                    <div class="section-title-2">
                        <h3>Latest Post</h3>
                    </div>
                    <div class="sidebar-post">
                        <ul>
                            <li>
                                <img src="assets\images\blog\blog8.jpg" alt="">
                                <a href="javascript:void(0);">Things go better with Health.</a>
                            </li>
                            <li>
                                <img src="assets\images\blog\blog18.jpg" alt="">
                                <a href="javascript:void(0);">Makes your dream.</a>
                            </li>
                            <li>
                                <img src="assets\images\blog\blog19.jpg" alt="">
                                <a href="javascript:void(0);">Tour is crazy good.</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-md-20">
                    <div class="section-title-2">
                        <h3>Newsletter</h3>
                    </div>
                    <p>Join with our newsletter to receive our upcoming technologies and feature products.</p>
                    <form>
                        <div class="form-group footer-subscribe">
                            <input type="email" class="form-control" id="Email1" placeholder="Subscribe with us">
                            <button type="submit" class="btn btn-primary">Join</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</footer>