{% extends 'base.html' %}

{% block content %}


<style>
    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }
</style>
<div class="jumbotron">
    Your Token don't share it with anyone<br>
    {{token}}
</div>

<div class="jumbotron">
<div class="row">
    <div class=" col-lg-4">

    <a href="{% url 'downloadSoftware' 'telegram' %}">
        <div class="btn btn-success" style="display: flex; flex-direction:column;width:190px">
            <p>Dowload Telegram</p>
            <p>For windows &darr;</p>

        </div>
    </a>
</div>


<div class=" col-lg-4">

    <a href="{% url 'downloadSoftware' 'instagram' %}">
        <div class="btn btn-success" style="display: flex; flex-direction:column;width:190px">
            <p>Dowload Instagram</p>
            <p>For windows &darr;</p>

        </div>
    </a>
</div>


<div class=" col-lg-4">

    <a href="{% url 'downloadSoftware' 'whatsapp' %}">
        <div class="btn btn-success" style="display: flex; flex-direction:column;width:190px">
            <p>Dowload Whatsapp</p>
            <p>For windows &darr;</p>

        </div>
    </a>
</div>
</div>
</div>
{% endblock %}